[Unit]
Description=The Hippie Trap
After=multi-user.target

[Service]
Type=idle
ChDir=/home/robert/hippie-trap/software
ExecStart=/home/robert/hippie-trap/software/.ve/bin/python ./hippie-trap-main.py
User=robert
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
